* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 'Verdana', sans-serif;
}

body, form, input, button, select, option {
    font: inherit;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 60em;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    background-image: url("https://source.unsplash.com/hJ51X8nUtTk");
}

.name {
    text-align: center;
    margin: 4em;
    padding: 2em;
    border-radius: 1em;
    border: 0.1em solid black;
    background-color: rgba(255, 255, 255, 0.6);
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: 4em;
}

nav li {
    display: block;
}

nav a {
    display: block;
    padding: 0.5em 1em;
    color: #444;
    font-weight: 400;
    font-size: 1.2em;
}

nav a:hover, nav li.current-page a {
    color: #fff;
}

section {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1em;
    border: 0.1em solid black;
    margin: 2em;
    padding: 5em;
    transform: translate(-5em, 0);
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

section:nth-child(1) {
    transition-delay: 0.1s;
}

section:nth-child(2) {
    transition-delay: 0.3s;
}

section:nth-child(3) {
    transition-delay: 0.5s;
}

section:nth-child(4) {
    transition-delay: 0.7s;
}

.loaded section {
    opacity: 1;
    transform: translate(0, 0);
}

section:first-of-type {
    background-color: rgba(255, 255, 255, 0.7);
}

section:last-of-type {
    background-color: rgba(255, 255, 255, 0.7);
}

#second_row {
    display: flex;
}

#second_row ul {
    padding: 0 1em;
}

#third_row ul {
    padding: 0 2em;
}

.information {
    width: 50%;
}

.information li {
    margin-left: 1.1em;
}

.information a {
    color: rgb(51, 51, 0);
}