html {
    font-family: Arial, sans-serif;
    font-style: italic;
}

body {
    text-align: center;
}

#wrapper {
    width: 980px;
    height: 1350px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
    border: 1px solid black;
    background-image: url("./images/cover.png");
}

header:after {
    display: block;
    content: "";
    clear: both;
}

#photo-krasi {
    border-radius: 20px;
    border: 2px solid black;
    float: right;
    margin: 20px 30px;
    width: 190px;
    overflow: hidden;
}

#photo-krasi img {
    width: 100%;
    display: block;
}

section {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    min-height: 300px;
    border: 2px solid black;
    clear: both;
    margin: 20px 30px;
    padding: 0 20px;
    clear: both;
}

section:first-of-type {
    background-color: rgba(255, 255, 255, 0.5);
}

.information {
    float: left;
    width: 50%;
}

section:last-of-type {
    background-color: rgba(255, 255, 255, 0.7);
}

